@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overscroll-behavior: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  body {
    -webkit-overflow-scrolling: touch;
  }

  [data-dragging="true"] {
    user-select: none;
  }

  ::selection {
    background-color: rgb(191 219 254 / 0.5);
  }

  .dark ::selection {
    background-color: rgb(99 102 241 / 0.4);
  }
}

@layer utilities {
  .no-arrows::-webkit-outer-spin-button,
  .no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .no-arrows {
    -moz-appearance: textfield;
  }
}
